@use "mixins";
@use "variables";
@use "sass:map";

footer {
    @include mixins.flex-col;

    gap: 16px;
    background-color: variables.$bg-dark-gray;
    padding: 22px 25px;
    max-height: 186px;

    @media (min-width: map.get(variables.$grid-breakpoints, "lg")) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 30px 25px;
        height: 54px;
    }

    * {
        color: #fff;
    }
    img {
        filter: brightness(0) saturate(100%) invert(100%);
    }
}

.footer-title {
    font-family: "Shrikhand";
    font-weight: 400;
    //font-style: italic; //the mock up says the font is italic but it looks regular
    font-size: 18px;
    line-height: 26.24px;
    color:#fff;
    margin: 0;
    height: 27px;

    @media (min-width: map.get(variables.$grid-breakpoints, "lg")) {
        height: auto;
        line-height: normal;
        margin-right: 40px;
        margin-left: 78px;
    }
}

.footer-content {
    @include mixins.flex-col;
    
    gap: 7px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 99px;

    @media (min-width: map.get(variables.$grid-breakpoints,"lg")) {
        @include mixins.flex-row;

        align-items: flex-end;
        gap: 14px;
        
        li:nth-child(2) {
            margin-right: 30px;
        }
    }

    li {
        height: 20px;
        i {
            font-size: 12px;
            margin-right: 11px;
            vertical-align: middle;
        }
    }
    li:nth-child(1), li:nth-child(2) {
        font-weight: 500;
    }
    a {
        text-decoration: none;
    }
}