//Colors
$main-color: #000;
$bg-gray: #F6F6F6;
$bg-dark-gray: #353535;
$gray-dark: #7E7E7E;
$purple-dark: #9356DC;
$purple-light: #FF79DA;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$logo-black: #101010;

//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1080px,
  xl: 1200px,
  xxl: 1400px
);