* {
  color: #000;
  font-family: "Roboto";
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}

font {
  font-size: 16px;
  line-height: 18.75;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  width: 100%;
  margin: 0px;
}

figure {
  margin: 0;
}

.circle {
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  height: 113px;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}
@media (min-width: 768px) {
  header {
    height: 146px;
  }
}
header h1 {
  margin: 0;
  font-size: 30px;
  font-family: "Shrikhand";
  font-weight: 400;
  color: #101010;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 37px;
  }
}
header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
  padding-top: 8px;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  header .logo {
    padding-top: 0;
    max-height: 96px;
    box-shadow: none;
  }
}
header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
  font-weight: 500;
  margin-left: -0.5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (min-width: 768px) {
  header .location {
    filter: none;
  }
}
header .location p {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  padding: 22px 25px;
  max-height: 186px;
}
@media (min-width: 1080px) {
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    height: 54px;
  }
}
footer * {
  color: #fff;
}
footer img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.footer-title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: 26.24px;
  color: #fff;
  margin: 0;
  height: 27px;
}
@media (min-width: 1080px) {
  .footer-title {
    height: auto;
    line-height: normal;
    margin-right: 40px;
    margin-left: 78px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 99px;
}
@media (min-width: 1080px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 14px;
  }
  .footer-content li:nth-child(2) {
    margin-right: 30px;
  }
}
.footer-content li {
  height: 20px;
}
.footer-content li i {
  font-size: 12px;
  margin-right: 11px;
  vertical-align: middle;
}
.footer-content li:nth-child(1), .footer-content li:nth-child(2) {
  font-weight: 500;
}
.footer-content a {
  text-decoration: none;
}

.btn {
  background: linear-gradient(178deg, #FF79DA -21.44%, #9356DC 95.93%);
  display: block;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 15.5px 22.5px;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(178deg, #FF79DA -21.44%, #9356DC 95.93%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.card {
  height: 250px;
  width: 100%;
}
.card img {
  height: 66%;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  overflow: hidden;
  animation: hide 0.1s forwards;
  animation-delay: 2.1s;
}

.loader {
  text-align: center;
  font-size: 26px;
  animation: move 1s forwards;
  width: 100%;
  position: absolute;
  top: calc(50% - 19px);
  font-family: "Shrikhand";
  color: #101010;
  animation: hide 1ms forwards;
  animation-delay: 2s;
}
.loader .load-bar {
  width: 145px;
  background-color: #F6F6F6;
  height: 2px;
  margin: 0 auto;
}
.loader .load-bar .load-bar-filling {
  height: 100%;
  background-color: #99E2D0;
  animation: increaseWidth 2s forwards;
}

@keyframes increaseWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes hide {
  100% {
    visibility: hidden;
  }
}
.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 39px 42px;
  text-align: center;
}
@media (min-width: 768px) {
  .discover {
    height: 179px;
    padding: 30px;
    justify-content: space-between;
  }
}
.discover h3 {
  margin: 0;
}
@media (min-width: 768px) {
  .discover h3 {
    font-size: 40px;
    margin-top: 9px;
  }
}
.discover p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  margin: 13px 0;
}
@media (min-width: 768px) {
  .discover p {
    margin: 10px 0 0;
  }
}
.discover .btn {
  margin: 16px 0 19px;
}
@media (min-width: 768px) {
  .discover .btn {
    margin: 0;
  }
}

.steps {
  padding: 23px 20px 52px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .steps {
    padding: 50px 20px 33px;
  }
  .steps .section-title {
    margin-top: 0;
  }
}
.steps > div {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}
.steps ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0 0;
  gap: 25px;
  list-style: none;
}
@media (min-width: 1080px) {
  .steps ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.steps ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.steps ul .step-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 26.7px 0px;
  font-weight: 500;
  border-radius: 20px;
  width: 100%;
  max-width: 322.49px;
}
.steps ul .step-content div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-left: 12px;
}
.steps ul i {
  font-size: 18px;
  color: #7E7E7E;
}
.steps ul i.fa-store {
  color: #9356DC;
}
.steps .circle {
  background-color: #9356DC;
}
.steps .step-number {
  color: #F6F6F6;
  font-size: 14.18px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  margin-right: -12px;
  z-index: 1;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 30px 17px 65px 17px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1080px) {
  .restaurants {
    padding: 6px 0 30px;
  }
}
.restaurants .section-title {
  margin-bottom: 28px;
  width: 100%;
  max-width: 1080px;
}
.restaurants a {
  text-decoration: none;
}
.restaurants .card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  max-width: 1080px;
}
@media (min-width: 1080px) {
  .restaurants .card-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
  height: 251px;
  overflow: hidden;
  max-width: 490px;
}
@media (min-width: 1080px) {
  .restaurants .card {
    min-width: 490px;
  }
}
.restaurants .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.restaurants .card figure {
  width: 100%;
  margin: 0;
}
.restaurants .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
  border-radius: 15px 15px 0 0;
  height: 231px;
  max-height: 231px;
  margin-top: -57px;
}
.restaurants .card-tag {
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  position: relative;
  top: 10px;
  margin-left: auto;
  margin-right: 10px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  width: 80px;
  height: 29px;
  text-align: center;
}
.restaurants .card-tag + a img {
  margin-top: -86px;
}
.restaurants .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px 13px;
  flex-grow: 1;
  height: 100%;
}
.restaurants .card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  margin: 0 0 5px 0;
}
.restaurants .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
}
.restaurants .like-icon {
  margin-right: 22px;
  font-size: 22px;
  transform: scaleX(0.9);
  cursor: pointer;
}
.restaurants .like-icon i {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.restaurants .like-icon i:hover {
  font-size: 23px;
  text-shadow: none;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: fillAnimation 0.2s forwards;
}

@keyframes fillAnimation {
  0% {
    background-image: linear-gradient(178deg, #9356DC -20%, #fff 20%);
  }
  20% {
    background-image: linear-gradient(178deg, #9356DC -12%, #fff 35%);
  }
  40% {
    background-image: linear-gradient(178deg, #9356DC -4%, #fff 50%);
  }
  60% {
    background-image: linear-gradient(178deg, #9356DC 4%, #fff 65%);
  }
  80% {
    background-image: linear-gradient(178deg, #9356DC 12%, #fff 80%);
  }
  100% {
    background-image: linear-gradient(178deg, #9356DC 20%, #FF79DA 95%);
  }
}
.subpage-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 63px;
}
.subpage-header .back-button, .subpage-header div:last-of-type {
  width: 30px;
  height: 30px;
  margin: 17px;
  line-height: 30px;
}
.subpage-header .logo {
  box-shadow: none;
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  line-height: 43.74px;
  text-align: center;
}

main {
  background-color: #fff;
}
main .hero-image {
  height: 275px;
  overflow: hidden;
}
main .hero-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  main .hero-image {
    height: 383px;
  }
}
main .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  max-width: 1055px;
  position: relative;
}
main .menu .restaurant-name, main .menu .card-group {
  max-width: 634px;
  width: calc(100% - 26px);
  padding: 0 13px;
}
main .menu .restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .menu .restaurant-name h3 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  line-height: 40.82px;
  margin-top: 0;
  margin-bottom: 0;
}
main .menu .restaurant-name .like-icon {
  margin-right: 22px;
  font-size: 22px;
  transform: scaleX(0.9);
  cursor: pointer;
  margin-left: auto;
  margin-right: 24px;
  margin-bottom: 3px;
}
main .menu .restaurant-name .like-icon i {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
main .menu .restaurant-name .like-icon i:hover {
  font-size: 23px;
  text-shadow: none;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: fillAnimation 0.2s forwards;
}
@media (min-width: 768px) {
  main .menu .restaurant-name .like-icon {
    margin-left: 24px;
    margin-right: 0;
  }
}
main .menu .restaurant-name .like-icon i {
  color: #F6F6F6;
}
main .menu .card-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 1s ease all;
}
main .menu .card-group:nth-child(2) {
  animation: slideIn 1s forwards;
  animation-delay: 0.15s;
}
main .menu .card-group:nth-child(3) {
  animation: slideIn 1s forwards;
  animation-delay: 0.3s;
}
main .menu .card-group:nth-child(4) {
  animation: slideIn 1s forwards;
  animation-delay: 0.45s;
}
main .menu .card-group h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}
main .menu .card-group .line {
  width: 40px;
  border-top: 2px solid #99E2D0;
  border-bottom: 1px solid #99E2D0;
  margin-top: 4px;
  box-sizing: border-box;
}
main .menu .card-group ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  list-style: none;
  padding: 0;
}
main .menu .card-group li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15.04px;
  background-color: #fff;
  height: 69px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
main .menu .card-group li:hover .select-check {
  width: 59px;
}
main .menu .card-group li:hover .plate {
  width: calc(100% - 89px);
}
main .menu .plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  transition: width 0.5s;
  cursor: pointer;
}
main .menu .plate .name {
  font-weight: 500;
  font-size: 18px;
  max-width: 287px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .menu .plate .description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .menu .plate .description {
  max-width: 287px;
  margin-top: 5px;
  font-weight: 300;
  font-size: 15.04px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .menu .price {
  align-self: flex-end;
  font-weight: 700;
  font-size: 15.04px;
}
main .menu .select-check {
  flex: none;
  width: 0px;
  height: 100%;
  overflow: hidden;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  text-align: center;
  line-height: 69px;
  font-size: 20px;
  transition: width 0.5s;
}
main .menu .select-check i {
  color: #fff;
}
main .menu p {
  margin: 0;
}
main .menu .btn {
  margin: 0 auto 5px;
  width: 141px;
  text-align: center;
}
@media (min-width: 768px) {
  main .menu {
    margin-top: -40px;
    padding-bottom: 30px;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}/*# sourceMappingURL=style.css.map */